<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue Waves API</title>
  </head>
  <body>
    <center>
      <img src="https://i.imgur.com/ivqOpFJ.png" class="responsive" />
      <br />
      <p class="title">Documentation coming soon...</p>
      <a
        href="https://play.google.com/store/apps/details?id=gr.esentis.blue_waves_flutter"
        ><img
          src="https://steverichey.github.io/google-play-badge-svg/img/el_get.svg"
          class="responsive2"
          width="250"
          title="Blue Waves Open Beta"
          alt="Blue Waves Open Beta"
      /></a>
    </center>
  </body>
  <style>
    .title {
      padding: 25 0 25 0;
      font-size: large;
      font-weight: bold;
    }
    .responsive {
      width: 50%;
      height: auto;
    }
    .responsive2 {
      width: 25%;
      height: auto;
    }
  </style>
</html>
